<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Indian Banks</title>
    </head>
    <body>
		<p>Use this: <a href = "https://still-hollows-84066.herokuapp.com/branches/?bank=STATE BANK OF INDIA&city=KHARAGPUR&format=json">https://still-hollows-84066.herokuapp.com/branches/?bank=STATE BANK OF INDIA&city=KHARAGPUR&format=json</a></p>
		<h3> OR </h3>
		<p>this: <a href = "https://still-hollows-84066.herokuapp.com/branches/?ifsc=SBIN0000202&format=json" >https://still-hollows-84066.herokuapp.com/branches/?ifsc=SBIN0000202&format=json</a></p>
    </body>
</html>
